[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"
safety = "*"
bandit = "*"
ipython = "*"
PyQt5-stubs = "*"

[packages]
pycryptodome = "*"
PyQt5 = "*"
sheet2dict = "*"
attrs = "*"
chime = "*"
sqlalchemy = "*"

[requires]
python_version = "3.11"
